.confirmation-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 50px;
    background-color: var(--background);
    min-height: 100vh;
}

.confirmation-main h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.summary-box {
    background-color: var(--foreground);
    padding: 30px;
    width: 60%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}

.summary-box h2 {
    grid-column: span 2;
    margin-bottom: 10px;
}
.summary-box h3 {
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 5px;
}

.summary-box p {
    margin: 5px 0;
}

.summary-box hr {
    grid-column: span 2;
    width: 100%;
}

.browse-btn {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;

    background-color: var(--foreground);
    color: var(--text-color);
}