    <footer>
      <nav>
        <a href="https://webpages.charlotte.edu/gleventh">My UNCC Home Page</a>
        <a href="https://github.com/griffinluncc">Github</a>
        <a href="https://griffinluncc.github.io">Course Page</a>
        <a href="https://www.freecodecamp.org/gleventhal">FreeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/gleventhalUNCC"
          >Codecademy</a
        >
        <a href="https://www.linkedin.com/in/griffinlevdev">LinkedIn</a>
      </nav>
      <p>Designed by <a href="./leventhaldesign.com/index.html">Leventhal Design Firm</a> @c 2025</p>
    </footer>